//----------1200-----------
@media (max-width: 1200px)
  .modal
    &__dialog
      top: 20px
      transform: translate(-50%, 0%)

//------------------767-----------
@media (max-width: 767px)
  .modal
    &__dialog
      width: 60vw
      height: 90vh
      &-scroll
        padding: 20px 40px
        width: 100%
    &__input
      width: 100%
    &__message
      width: 100%
    &__info
      margin-left: 0
      margin-top: 5px
      &-scroll
        flex-direction: column
        justify-content: start
        align-items: start

//--------------------576------------
@media (max-width: 576px)
  .modal
    &__dialog
      width: 80vw

// ---------- 480px-----------
@media (max-width: 480px)
  .modal
    &__info
      &-wrapper
        flex-direction: column
        align-items: start
