
.packages
  padding: 40px 0 69px 0
  &-title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin: 0
    padding: 0
  &__title
    margin-bottom: 65px
    &-first
      margin-bottom: 27px
    &-successive
      margin-bottom: 22px

  &-grid
    display: grid
    grid-template-rows: repeat(2, 500px)
    grid-template-columns: repeat(3, minmax(350px, 1fr))
    grid-gap: 30px

  &__card
    display: flex
    align-items: center
    border-radius: 8px
    position: relative
    height: 500px
    overflow: hidden
    &-first
      grid-column: 1/3

  &__cards
    display: flex
    flex-direction: column
    border-radius: 8px
    overflow: hidden
    position: relative
    height: 500px

  &__images
    &-first
      width: 50%
      overflow: hidden
      height: 500px
    &-successive
      height: 50%
      width: 100%
      overflow: hidden

  &__image
    height: 100%
    width: 100%
    object-fit: cover

  &__info
    display: flex
    flex-direction: column
    justify-content: space-between
    &-first
      background: $dark
      width: 50%
      height: 100%
      padding: 36px 21px 10px 43px
      overflow: auto

  &__inform
    display: flex
    flex-direction: column
    justify-content: space-between
    &-successive
      width: 100%
      height: 50%
      padding: 30px 21px 25px 32px
      background: $dark
      overflow: auto

  &__stars
    margin: 0
    padding: 0
    margin-bottom: 5px
  &__star
    height: 7px
    width: 7px

  &__offer
    &-title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      color: $light

  &__exposition
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160.6%
    color: $light
    height: 188px
    overflow: auto
    margin-bottom: 10px

  &__room
    max-width: 203px
    min-height: 55px
    display: grid
    grid-template-rows: repeat(2, minmax(15px, max-content))
    grid-template-columns: 15px 1fr
    grid-gap: 9px
    &-first
      margin-bottom: 30px
    &-successive
      margin-bottom: 20px
  &__icon
    width: 14px
    height: 14px

  &__description
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light

  &-price
    display: flex
    justify-content: space-between
    align-items: center

  &__price
    &-all
      display: flex
      flex-direction: column
      justify-content: flex-start
      max-width: 150px
    &-old
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
      color: $light
      margin-bottom: 5px
    &-sale
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
      color: $light
      margin-bottom: 5px

    &-button
      margin-top: auto
      width: 120px
      min-height: 40px
      font-family: Nunito
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 19px
      border-radius: 4px
      background-color: $primary
      border: none
      color: $light
      cursor: pointer

  &__offer
    position: absolute
    left: 0
    top: 26px
    z-index: 80
    background-color: $primary
    border: none
    border-radius: 0px 4px 4px 0px
    font-style: normal
    font-weight: 600
    color: $light
    &-first
      min-width: 95px
      font-size: 12px
      line-height: 15px
      padding: 8px 11px
    &-successive
      min-width: 60px
      font-size: 8px
      line-height: 10px
      padding: 4px 9px
