//общий грид-контейнер, состоит из '1+1 1' и '111'

.packages
  &-grid
    display: grid
    grid-template-rows: repeat(repeat(auto-fill, minmax(500px, 1fr))
    grid-template-columns: 350px 350px 350px
    grid-gap: 30px
  &__card
    display: flex
    border-radius: 8px
    overflow: hidden
    min-height: 424px

    &-first
      grid-column: 1/3
      display: flex
      border-radius: 8px
      overflow: hidden
      position: relative

  &__cards
    display: flex
    flex-direction: column
    background-color: $blue
    border-radius: 8px
    overflow: hidden
    &-successive
      display: flex
      border-radius: 8px
      overflow: hidden
      position: relative

  &__image
    width: 100%
    height: 100%
    object-fit: cover
    &-first
      width: 50%
      overflow: hidden

  &__info
    width: 50%
    background: $dark
    display: flex
    flex-direction: column
    justify-content: start
    padding: 46px 21px 30px 43px
  &__inform
    background: $dark
    display: flex
    flex-direction: column
    justify-content: start
    padding: 30px 21px 25px 32px
  &__stars
    margin-bottom: 5px
  &__star
    height: 7px
    width: 7px

  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    color: $light
    margin-bottom: 27px
  &__exposition
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160.6%
    color: $light
    margin-bottom: 34px
  &__room
    max-width: 203px
    min-height: 67px
    display: grid
    grid-template-rows: 15px 15px
    grid-template-columns: 15px 1fr
    grid-gap: 11px
  &__icon
    width: 14px
    height: 14px

  &__description
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light

  &-price
    display: flex
    justify-content: space-between
    margin-top: 37px

  &__price
    &-all
      display: flex
      flex-direction: column
      justify-content: flex-start
    &-old
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
      color: $light
      margin-bottom: 5px
    &-sale
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
      color: $light
      margin-bottom: 5px
    &-button
      align-items: flex-end
      width: 120px
      min-height: 40px
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 19px
      border-radius: 4px
      background-color: $primary
      border: none
      color: $light
      cursor: pointer
  &__offer
    position: absolute
    left: 0
    top: 26px
    z-index: 99
    max-width: 95px
    min-height: 30px
    background-color: $primary
    border: none
    border-radius: 0px 4px 4px 0px
    font-style: normal
    font-weight: 600
    font-size: 12px
    line-height: 15px
    padding: 8px 12px 7px 11px
