//minmax(15px, max-content)
  //repeat(3 minmax(300px, 350px))

.packages
  padding: 40px 0 69px 0
  &-title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin: 0
    padding: 0
  &__title
    margin-bottom: 65px

  &-grid
    display: grid
    grid-template-rows: 500px 500px
    grid-template-columns: 350px 350px 350px
    grid-gap: 30px

  &__card
    display: flex
    border-radius: 8px
    overflow: hidden
    position: relative
    max-height: 500px
    &-first
      grid-column: 1/3

  &__cards
    display: flex
    flex-direction: column
    max-height: 500px
    border-radius: 8px
    overflow: hidden
    position: relative

  &__images
    &-first
      width: 50%
      background-color: $blue
      border-radius: 8px
      overflow: hidden
    &-successive
      background-color: $blue
      height: 50%
      overflow: hidden

  &__image
    height: 100%
    width: 100%
    object-fit: cover

  &__info
    width: 50%
    background: $dark
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 36px 21px 30px 43px

  &__inform
    height: 50%
    background: $dark
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 30px 21px 25px 32px
  &__stars
    margin: 0
    padding: 0
    margin-bottom: 5px
  &__star
    height: 7px
    width: 7px

  &__offer
    &-title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      color: $light

  &__exposition
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160.6%
    color: $light

  &__room
    max-width: 203px
    min-height: 67px
    display: grid
    grid-template-rows: 15px 15px
    grid-template-columns: 15px 1fr
    grid-gap: 11px
  &__icon
    width: 14px
    height: 14px

  &__description
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: $light

  &-price
    display: flex
    justify-content: space-between
    align-items: end

  &__price
    &-all
      display: flex
      flex-direction: column
      justify-content: flex-start
      max-width: 150px
    &-old
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
      color: $light
      margin-bottom: 5px
    &-sale
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
      color: $light
      margin-bottom: 5px

    &-button
      margin-top: auto
      width: 120px
      min-height: 40px
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 19px
      border-radius: 4px
      background-color: $primary
      border: none
      color: $light
      cursor: pointer

  &__offer
    position: absolute
    left: 0
    top: 26px
    z-index: 99
    background-color: $primary
    border: none
    border-radius: 0px 4px 4px 0px
    font-style: normal
    font-weight: 600
    &-first
      max-width: 95px
      min-height: 30px
      font-size: 12px
      line-height: 15px
      padding: 8px 12px 7px 11px
    &-successive
      max-width: 60px
      min-height: 18px
      font-size: 8px
      line-height: 10px
      padding: 4px 9px
